## Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv/
.pytest_cache/
.python-version
uv.lock

## Environment
.env
.env.local
.env.development.local

## Node
node_modules/

## Build
build/
dist/
*.egg-info/

## Logs
logs/
*.log
## data
data/
## .DS_Store
.DS_Store

## .vscode
.vscode/

## .idea
.idea/

## .pytest_cache
.pytest_cache/

## .cursor
.cursor/
.aider*
